---
import Layout from "@layouts/default.astro";
import { getFormattedDate } from "@utils/date";
import {
  PageHeader,
  PageHeadingGroup,
  PageLead,
  PageSubheading,
  PageTitle,
} from '../design-system/index.js';

const postImports = import.meta.glob("./blog/*.{md,mdx}", { eager: true });
const posts = Object.values(postImports).sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

const myBlog = posts.filter(post => !post.frontmatter.canonical_url);
const archive = posts.filter(post => !!post.frontmatter.canonical_url);
---

<Layout title="Blog">
  <div>
    <PageHeader>
      <PageHeadingGroup>
        <PageTitle>
          Blog
        </PageTitle>
        <PageLead>
          Below you can find articles written on my personal blog. Additionally to writing on my personal blog, I'm writing also on other platforms. For a full list of articles <a href="/writing">check out my writing page</a>.
        </PageLead>
      </PageHeadingGroup>
    </PageHeader>

    <main class="mt-16">
      <ul class="grid gap-8 max-w-4xl mx-auto">
        {
          myBlog.map((post, index) => (
            <li class="bg-white dark:bg-slate-800 dark:bg-gradient-to-br dark:from-slate-900 dark:via-slate-800 dark:to-slate-900 dark:border-[0.5px] dark:border-slate-700 shadow-md rounded-lg p-3 hover:shadow-xl focus:shadow-xl focus-within:shadow-xl hover:scale-[1.02] focus:scale-[1.02] focus-within:scale-[1.02] transition-transform">
              <a href={post.url} class="">
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  {post.frontmatter.image ? (
                    <img
                      src={post.frontmatter.image}
                      alt={post.frontmatter.imageAlt || ""}
                      width={post.frontmatter.imageWidth}
                      height={post.frontmatter.imageHeight}
                      loading={index === 0 ? "eager" : "lazy"}
                      class="w-full rounded-md"
                    />
                  ) : null}
                  <div>
                    <span class="text-purple-300 uppercase tracking-wider text-sm font-medium">
                      {post.frontmatter.category}
                    </span>

                    <h2 class="text-2xl font-semibold leading-snug tracking-tight mt-1  mb-2 text-transparent bg-clip-text bg-gradient-to-tr from-[#DF3C83] to-purple-700 dark:to-purple-400">
                      {post.frontmatter.title}
                    </h2>

                    <div class="flex gap-2 mt-3 small-all-caps">
                      <span class="text-gray-400">
                        {post.frontmatter.author || 'Dominik Kundel'}
                      </span>
                      <span class="text-gray-400">• </span>
                      <time
                        class="text-gray-400"
                        datetime={post.frontmatter.publishDate}>
                        {getFormattedDate(post.frontmatter.publishDate)}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
    <section class="mt-10">
      <PageHeader>
        <PageHeadingGroup>
          <PageSubheading>Archive</PageSubheading>
          <PageLead>
            Below you can find articles I have originally written on other platforms and that have been archived on my own blog.
          </PageLead>
        </PageHeadingGroup>
      </PageHeader>
      <ul class="topic-list">
        {archive.map(post => (
          <li>
            <a href={post.url}>
              <span class="font-bold">{post.frontmatter.title}</span> - <time datetime={post.frontmatter.publishDate}>{getFormattedDate(post.frontmatter.publishDate)}</time>
            </a>
          </li>
        ))}
      </ul>
    </section>
  </div>
</Layout>
