---
import React from 'react';
import typographyPkg from 'react-typography'
import styled from '../utils/styled.js';
// import GlobalStyles from '../utils/globalStyles.js';
import Footer from '../components/Footer.jsx';
import Header from '../components/Header.jsx';
// import SEO from '../components/seo.jsx';
import siteMetaData from '../../data/siteMetadata.json';
import typography from '../utils/typography.js';

const { TypographyStyle } = typographyPkg;

const Container = styled('div', 'bg-gray-50 flex w-full h-full flex-col items-center min-h-[100vh]');

const Main = styled('div', 'flex-1 max-w-[800px] w-full p-[20px]');

const {title} = Astro.props;
const siteTitle = title ? `${title} | ${siteMetaData.title}` : siteMetaData.title;
---
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <meta name="description" content={siteMetaData.description}>
  <meta property="og:title" content={siteTitle}>
  <meta property="og:description" content={siteMetaData.description}>
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content={siteMetaData.author}>
  <meta name="twitter:title" content={siteTitle}>
  <meta name="twitter:description" content={siteMetaData.description}>
  <title>{siteTitle}</title>
	<style global>
      /* @import "../styles/typography.css"; */
			@import "../styles/global.css";
	</style>
</head>
<body>
<Container>
  <TypographyStyle typography={typography} />
  <!-- <SEO title="About Me" keywords={[`dkundel`, `javascript`, `speaker`]} /> -->
  <!-- <GlobalStyles /> -->
  <Header name={siteMetaData.name} />
  <Main role="main"><slot/></Main>
  <Footer />
</Container>
  <script src={Astro.resolve('../index.js')} type="module" hoist></script>
</body>
</html>